.willian-retina-img-fix {
    background-position: center;
    background-size: cover;
}
.willian-retina-img-border {
    outline-offset: -3px;
    outline: 2px solid white;
}
.willian-size-52{
    width: 52px;
    height: 52px;
}
.willian-size-48{
    width: 48px;
    height: 48px;
}
.willian-size-37{
    width: 37px;
    height: 37px;
}
.willian-size-20{
    width: 20px;
    height: 20px;
}
.willian-size-not-decided{

}
.willian-size-100pa{
    width: 100%;
}

