.v-search-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    h1 {
        padding: 0;
        margin: 0;
        font-size: 2em;
        line-height: 1.4em;
        font-weight: 900;
    }
    h3 {
        padding: 0;
        margin: 0;
        font-size: 1.5em;
        line-height: 1.4em;
        font-weight: 700;
    }
}