.v-modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    position: fixed !important;
    z-index: 9999;
    display: grid;
    place-items: center;

    > .v-modal-close {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}