ul.v-tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    > li {
        padding: 0 5px;
        border-radius: 50px;
        background: rgb(from var(--color-font) r g b / .25);
        border: 1px solid var(--color-font);
        box-sizing: border-box;
        white-space: pre;
    }
}