.v-search-item-card[data-item="mono"] {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 260px;
    padding: 12px 4px;
    > .avatar {
        width: 100px;
        height: 100px;
        border: none;
        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    > .info {
        align-items: center;
        > .title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        > .extra {
            > .tips {
                display: flex;
                gap: 8px;
                flex-wrap: wrap;
                margin-right: 12px;
                justify-content: center;
                align-items: center;
                > li {
                    padding: 2px 6px;
                    background-color: rgb(from var(--background) calc(r - 30) calc(g - 30) calc(b - 30) / 0.3);
                    border-radius: 12px;
                    font-size: 11px;
                }
            }

            > .comment {
                font-size: 16px;
                position: absolute;
                right: 8px;
                top: 8px;
                color: var(--primary-color, #f09199);
            }
            > .comment::before {
                content: '+';
            }
        }
    }
}
