html, html[data-theme='dark'] {
    #dock {
        li {
            position: relative;
            height: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        li:not(:last-child) {
            border-right: 1px solid var(--color-dock-sp);
        }
    }
    .columns {
        > #columnInSubjectB {
            > * { margin: 0; }
            display: flex;
            gap: 10px;
            flex-direction: column;
            position: sticky;
            top: 0;
            align-self: flex-start;
            max-height: 100vh;
            overflow-y: auto;
        }
    }
    *:has(>#comment_list) {
        .postTopic {
            border-bottom: none;
            .inner.tips {
                display: flex;
                height: 40px;
                align-items: center;
                gap: 8px;
                color: var(--color-reply-tips);
            }
        }
        .avatar:not(.tinyCover) {
            img,
            .avatarNeue {
                border-radius: 50% !important;
            }
        }
        .clearit:not(.message) {
            transition: all 0.3s ease;
            box-sizing: border-box;
            border-bottom: none !important;
            border-top: 1px dashed var(--color-reply-sp);
            .inner.tips {
                display: flex;
                height: 40px;
                align-items: center;
                gap: 8px;
                color: var(--color-reply-tips);
            }
            .sub_reply_collapse .inner.tips { height: auto; }
            --color-reply: var(--color-bangumi);
        }
        .clearit.friend { --color-reply: var(--color-green); }
        .clearit.owner { --color-reply: var(--color-yellow); }
        .clearit.floor { --color-reply: var(--color-purple); }
        .clearit.self { --color-reply: var(--color-blue); }
        .clearit.friend, .clearit.owner, .clearit.floor, .clearit.self {
            border-top: 1px solid var(--color-reply) !important;
            background: linear-gradient(rgb(from var(--color-reply) r g b / .125) 1px, #00000000 60px) !important;
            > .inner > :first-child > strong::before, > .inner > strong::before {
                padding: 1px 4px;
                margin-right: 4px;
                border-radius: 2px;
                background: rgb(from var(--color-bangumi) r g b /.5);
            }
        }
        .clearit:not(:has(.clearit:not(.message):hover), .message):hover {
            border-top: 1px solid var(--color-reply) !important;
            background: linear-gradient(rgb(from var(--color-reply) r g b / .125) 1px, #00000000 60px) !important;
            box-shadow: 0 0 4px rgb(from var(--color-reply) r g b / .5);
        }
        .clearit.self { > .inner > :first-child > strong::before, > .inner > strong::before { content: '自'; } }
        .clearit.friend { > .inner > :first-child > strong::before, > .inner > strong::before { content: '友'; } }
        .clearit.owner { > .inner > :first-child > strong::before, > .inner > strong::before { content: '楼'; } }
        .clearit.floor { > .inner > :first-child > strong::before, > .inner > strong::before { content: '层'; } }
        .clearit.friend.owner { > .inner > :first-child > strong::before, > .inner > strong::before { content: '友 楼'; } } 
        .clearit.friend.floor { > .inner > :first-child > strong::before, > .inner > strong::before { content: '友 层'; } }
        .clearit.owner.floor { > .inner > :first-child > strong::before, > .inner > strong::before { content: '楼 层'; } }
        .clearit.self.owner { > .inner > :first-child > strong::before, > .inner > strong::before { content: '自 楼'; } } 
        .clearit.self.floor { > .inner > :first-child > strong::before, > .inner > strong::before { content: '自 层'; } }
        .clearit.friend.owner.floor { > .inner > :first-child > strong::before, > .inner > strong::before { content: '友 楼 层'; } }
        .clearit.self.owner.floor { > .inner > :first-child > strong::before, > .inner > strong::before { content: '自 楼 层'; } }
    }

    #comment_list {
        box-sizing: border-box;
        .row:nth-child(odd), .row:nth-child(even) { background: transparent; }
        > .clearit:first-child { border-top: 1px solid transparent; }
        div.reply_collapse { padding: 5px 10px; }
    }
    @media (max-width: 640px) {
        .columns { > .column:last-child { align-self: auto !important; } }
    }
}