html[data-theme='dark'] {
    --color-base: #000000;
    --color-base-2: #1f1f1f;

    --color-base-bg: #23262ba0;

    --color-gray-1: #444444;
    --color-gray-2: #555555;
    --color-gray-3: #6a6a6a;
    --color-gray-4: #888888;

    --color-gray-11: #cccccc;

    --color-bangumi-2: #ffb6bd;
}