html {
    --color-base: #ffffff;
    --color-base-2: #e8e8e8;
    --color-base-bg: #eaeffba0;

    --color-gray-1: #e8e8e8;
    --color-gray-2: #cccccc;
    --color-gray-3: #aaaaaa;
    --color-gray-4: #969696;

    --color-gray-11: #cccccc;

    --color-bangumi-2: #AB515D;
}