html, html[data-theme='dark'] {
    .tip-item,
    .svg-icon {
        position: relative;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        cursor: pointer;
        .tip, span {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, calc(-100% - 10px));
            padding: 2px 5px;
            border-radius: 5px;
            background: rgb(from var(--color-black) r g b / 0.6);
            white-space: nowrap;
            color: var(--color-white);
        }
        .tip::after, span::after {
            content: '';
            position: absolute !important;
            bottom: 0;
            left: 50%;
            border-top: 5px solid rgb(from var(--color-black) r g b / 0.6);
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            backdrop-filter: blur(5px);
            transform: translate(-50%, 100%);
        }
    }
    .tip-item:hover, .svg-icon:hover { .tip, span { visibility: visible; } }
    .switch {
        display: inline-block;
        position: relative;
        cursor: pointer;
        border-radius: 50px;
        height: 12px;
        width: 40px;
        border: 1px solid var(--color-switch-border);
    }

    .switch::before {
        content: '';
        display: block;
        position: absolute;
        pointer-events: none;
        height: 12px;
        width: 40px;
        top: 0px;
        border-radius: 24px;
        background-color: var(--color-switch-off);
    }

    .switch::after {
        content: '';
        display: block;
        position: absolute;
        pointer-events: none;
        top: 0;
        left: 0;
        height: 12px;
        width: 24px;
        border-radius: 24px;
        box-sizing: border-box;
        background-color: var(--color-switch-bar-inner);
        border: 5px solid var(--color-switch-bar-border);
    }

    .switch[switch="1"]::before {
        background-color: var(--color-switch-on);
    }
    .switch[switch="1"]::after {
        left: 16px;
    }

    .topic-box {
        #comment_list {
            .icon {
                color: var(--color-gray-11);
            }
        }
        .block {
            display: none;
        }
        .sicky-reply {
            background-color: var(--color-sicky-bg);
            border: 1px solid var(--color-sicky-border);
            box-shadow: 0px 0px 0px 2px var(--color-sicky-shadow);
            textarea {
                background-color: var(--color-sicky-textarea);
            }
        }
        .sicky-reply:has(:focus),
        .sicky-reply:hover {
            grid-template-rows: 1fr;
            background-color: var(--color-sicky-hover-bg);
            border: 1px solid var(--color-sicky-hover-border);
            box-shadow: 0 0 4px var(--color-sicky-hover-shadow);
        }
        #reply_wrapper {
            position: relative;
            padding: 5px;
            min-height: 50px;
            margin: 0;
            textarea.reply {
                width: 100% !important;
            }
            .switch {
                position: absolute;
                right: 10px;
                top: 10px;
            }
            .tip.rr + .switch {
                top: 35px;
            }
        }
        .sicky-reply {
            position: sticky;
            top: 0;
            z-index: 2;
            display: grid;
            height: auto;
            grid-template-rows: 0fr;
            border-radius: 4px;
            backdrop-filter: blur(5px);
            transition: all 0.3s ease;
            width: calc(100% - 1px);
            overflow: hidden;
            #slider {
                position: absolute;
                right: 5px;
                top: 13px;
                max-width: 100%;
            }
        }
        .svg-box {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .vcomm {
        ul {
            white-space: nowrap;
            justify-content: center;
            align-items: center;
        }
        a {
            display: flex;
            align-items: center;
            gap: 0.5em;
        }
    }
}