html {
    --color-bangumi: #fd8a96;

    --color-white: #ffffff;
    --color-black: #000000;
    --color-yellow: #f9c74c;
    --color-purple: #a54cf9;
    --color-blue: #02a3fb;
    --color-green: #95eb89;
    --color-red: #f94144;
    --color-skyblue: #7ed2ff;
    
    --color-dock-sp: var(--color-gray-2);
    
    --color-switch-border: var(--color-gray-2);
    --color-switch-on: var(--color-green);
    --color-switch-off: var(--color-gray-4);
    --color-switch-bar-border: var(--color-white);
    --color-switch-bar-inner: var(--color-gray-11);

    --color-hover: var(--color-blue);
    --color-icon-btn-bg: rgb(from var(--color-bangumi) r g b / .25);
    --color-icon-btn-color: var(--color-white);

    --color-reply-sp: var(--color-gray-1);
    --color-reply-tips: var(--color-gray-3);

    --color-reply-normal: var(--color-bangumi);
    --color-reply-owner: var(--color-yellow);
    --color-reply-floor: var(--color-purple);
    --color-reply-friend: var(--color-green);
    --color-reply-self: var(--color-blue);

    --color-sicky-bg: rgb(from var(--color-base) r g b / .125);
    --color-sicky-border: rgb(from var(--color-bangumi) r g b / .25);
    --color-sicky-shadow: rgb(from var(--color-base) r g b / .05);
    --color-sicky-textarea: rgb(from var(--color-base) r g b / .8);

    --color-sicky-hover-bg: rgb(from var(--color-bangumi) r g b / .125);
    --color-sicky-hover-border: var(--color-bangumi);
    --color-sicky-hover-shadow: var(--color-bangumi);

    --color-primary: var(--color-bangumi);
    --color-secondary: var(--color-blue);
    --color-success: var(--color-green);
    --color-info: var(--color-blue);
    --color-important: var(--color-purple);
    --color-warning: var(--color-yellow);
    --color-danger: var(--color-red);
}