html {
    --color-bangumi: #fd8a96;

    --color-white: #ffffff;
    --color-black: #000000;
    --color-yellow: #f9c74c;
    --color-purple: #a54cf9;
    --color-blue: #02a3fb;
    --color-green: #95eb89;
    --color-red: #f94144;
    --color-skyblue: #7ed2ff;
}