#dock {
    padding: 0;
    > div.content {
        padding: 2px 4px;
        > ul.clearit {
            display: flex;
            gap: 8px;
            >li, li>a {
                border-right: none !important;
                padding: 0 !important;
                position: relative;
                display: flex;
                align-items: center;
                min-height: 18px;
            }
            li:not(.first)::after {
                content: "";
                display: block;
                background: rgb(from var(--color-bangumi-2) r g b / 0.6);
                width: 1px;
                height: calc(100% - 4px);
                position: absolute;
                top: 2px;
                left: -4.5px;
            }
        }
        > ul::after {
            content: none;
        }
    }
}