/* 最外层 */
#kotorichan_app_remark_main_window {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

/* 中部窗口 */
#kotorichan_app_remark_center {
  display: block;
  position: absolute;
  background: rgba(255,255,255,0.8);
  backdrop-filter: blur(5px);
  top: 50%;
  left: 50%;
  width: 500px;
  max-width: calc(100% - 20px);
  height: 300px;
  transform: translate(-50%,-50%);
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3), inset 0 0 0px 1px rgba(255, 255, 255, 0.2);
}

/* dark mode */
html[data-theme='dark'] #kotorichan_app_remark_center {
  background: rgba(59,59,59,0.7);
}

/* 窗口中的标签组 */
#kotorichan_app_remark_tabs {
  display: block;
  position: absolute;
  left: 10px;
  top: 0;
  width: 480px;
  width: calc(100% - 20px);
  height: 30px;
  border: 0 #F09199 solid;
  border-bottom-width: 3px;
}

/* 窗口中的内容区 */
#kotorichan_app_remark_content {
  display: block;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 478px;
  width: calc(100% - 22px);
  height: 256px;
  height: calc(100% - 44px);
  border: 1px #369CF8 solid;
  border-top-width: 0;
}

/* 底部菜单边框 */
#kotorichan_app_remark_dock_menu {
  position: absolute;
  background: rgba(255,255,255,0.8);
  backdrop-filter: blur(5px);
  top: 100%;
  transform: translateY(0%);
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3), inset 0 0 0px 1px rgba(255, 255, 255, 0.2);
  z-index: -1;
  transition: all 0.5s;
  opacity: 0;
}

/* dark mode */
html[data-theme='dark'] #kotorichan_app_remark_dock_menu {
  background: rgba(59,59,59,0.7);
}

/* 底部菜单栏在鼠标经过时弹出 */
#kotorichan_app_remark_dock:hover #kotorichan_app_remark_dock_menu {
  top: -4px;
  opacity: 1;
  transform: translateY(-100%);
}

/* 底部菜单标签 */
.kotorichan_app_remark_dock_menu_tab {
  display: block !important;
  float: none !important;
  border: 0 !important;
  border-bottom-width: 1px !important;
  padding: 5px !important;
}

/* 底部菜单标签鼠标经过 */
.kotorichan_app_remark_dock_menu_tab:hover {
  color: #369CF8;
}

/* 窗口中标签 */
.kotorichan_app_remark_tab {
  display: list-item;
  height: 100%;
  float: left;
  line-height: 30px;
  padding: 0 10px;
  margin: 0 10px;
  color: #444;
}

/* dark mode */
html[data-theme='dark'] .kotorichan_app_remark_tab {
  color: #e9e9e9;
}

/* 窗口中标签鼠标经过 */
.kotorichan_app_remark_tab:hover {
  color: #369CF8;
  border-bottom: 3px #369CF8 solid;
}

/* 窗口中被选中的标签 */
.kotorichan_app_remark_tab_selected {
  border-bottom: 3px #369CF8;
  color: #ffffff;
  background: #369CF8;
  border-bottom: 3px #369CF8 solid;
}

/* 窗口中被选中的标签鼠标经过 */
.kotorichan_app_remark_tab_selected:hover {
  color: #ffffff !important;
  border-bottom: 3px #369CF8 solid;
}

.kotorichan_app_remark_data_textarea {
  width: 100%;
  height: 100%;
  outline:none;
  resize: none;
}

.kotorichan_app_remark_data_submit {
  position: absolute;
  right: 15px;
  bottom: 1px;
}

.kotorichan_app_remark_friend_list {
  height: 100%;
  width: 100%;
  overflow-x:hidden;
  overflow-y:auto;
}

.kotorichan_app_remark_friend_item {
  position: relative;
  display: block;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  margin: 15px 0;
  transition: all 0.5s;
}

.kotorichan_app_remark_friend_item:hover {
  background: rgba(54, 158, 248, 0.2);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3), inset 0 0 0px 1px rgba(255, 255, 255, 0.2);
}

.kotorichan_app_remark_friend_item img {
  height: 30px;
  width: 30px;
  margin: 5px 10px 5px 30px;
  border-radius: 30px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3), inset 0 0 0px 1px rgba(255, 255, 255, 0.2);
}


.kotorichan_app_remark_friend_item small,
.kotorichan_app_remark_friend_item strong {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.kotorichan_app_remark_friend_item small {
  color: #A8A8A8;
}

/* dark mode */
html[data-theme='dark'] .kotorichan_app_remark_friend_item small {
  color: #F7F7F7;
}

.kotorichan_app_remark_friend_ext {
  display: block;
  position: fixed;
  text-align: center;
  max-width: 220px;
  background: rgba(255,255,255,0.8);
  backdrop-filter: blur(5px);
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3), inset 0 0 0px 1px rgba(255, 255, 255, 0.2);
  z-index: 999999;
  transition: all 0.5s;
}

/* dark mode */
html[data-theme='dark'] .kotorichan_app_remark_friend_ext {
  background: rgba(59,59,59,0.7);
}

#kotorichan_app_remark_block_mask ul li,
.kotorichan_app_remark_friend_ext li {
  display: block;
  padding: 5px 10px;
}

.kotorichan_app_remark_friend_ext li img {
  display: block;
  width: 40px;
  height: 40px;
  margin: 5px auto;
  border-radius: 40px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3), inset 0 0 0px 1px rgba(255, 255, 255, 0.2);
}

#kotorichan_app_remark_block_mask ul li a,
.kotorichan_app_remark_friend_ext li a {
  margin: 5px 10px;
}

#kotorichan_app_remark_block_mask ul li strong,
.kotorichan_app_remark_friend_ext li strong {
  color: #369CF8;
  padding: 2px;
  margin: 0 auto;
}

a.kotorichan_app_remark_a_friend,
a.kotorichan_app_remark_a_friend:link,
a.kotorichan_app_remark_a_friend:visited,
a.kotorichan_app_remark_a_friend:active,
html[data-theme='dark'] a.kotorichan_app_remark_a_friend,
html[data-theme='dark'] a.kotorichan_app_remark_a_friend:link,
html[data-theme='dark'] a.kotorichan_app_remark_a_friend:visited,
html[data-theme='dark'] a.kotorichan_app_remark_a_friend:active {
  color: orange;
}

#kotorichan_app_remark_block_mask {
  display: block;
  position: fixed;
  background: rgba(255,255,255,0.9);
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99998;
}

html[data-theme='dark'] .kotorichan_app_remark_bio .bio,
html[data-theme='dark'] #kotorichan_app_remark_block_mask {
  background: rgba(59,59,59,0.85);
}

#kotorichan_app_remark_block_mask ul {
  display: block;
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#kotorichan_app_remark_block_mask ul li img {
  display: block;
  width: 80px;
  height: 80px;
  margin: 5px auto;
  border-radius: 80px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3), inset 0 0 0px 1px rgba(255, 255, 255, 0.2);
}

.kotorichan_app_remark_bio {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
}

.kotorichan_app_remark_bio .bio {
  display: block;
  position: fixed;
  padding: 20px;
  width: 500px;
  max-width: 90%;
  max-width: calc(100% - 60px);
  height: 800px;
  max-height: 80%;
  max-height: calc(100% - 160px);
  top: 50%;
  left: 50%;
  overflow-x:hidden;
  overflow-y:auto;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,0.9);
  backdrop-filter: blur(5px);
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3), inset 0 0 0px 1px rgba(255, 255, 255, 0.2);
}

.kotorichan_app_remark_bio .bio .avatarNeue {
  display: block;
  margin: 30px auto;
  text-align: center;
  border-radius: 100px;
}

.kotorichan_app_remark_bio .bio .kotorichan_username {
  display: block;
  margin: 30px auto;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
}